section.blog
    h2.title From the blog
    .blog-wrapper
        article.blog-note
            img.blog-note__image(src="img/blog-1.jpg" alt="German fashion wizards" width="570" height="400")
            h3.blog-note__title German fashion wizards
            span.blog-note__author By James Steed | Fashion
            p.blog-note__text.
                This week we had the chance of interviewing two creative artists from Germany. These guys are simply amazing at what they do with the 
                European fashion scene and this year at Paris Fashion Week they 
                introduced their new collection.
            a.blog-note__link(href="#") READ MORE
        article.blog-note
            img.blog-note__image(src="img/blog-2.jpg" alt="Anne stewart's sunnglasses" width="570" height="400")
            h3.blog-note__title Anne stewart's sunnglasses
            span.blog-note__author By Marry Beard | Trending
            p.blog-note__text.
                Just amazing! That is how i can describe this person.
                So creative,so inspiring. I was watching her
                create in her small studio in London and i was
                amazed at how every little detail gets included in her creaions.
                From frames,to glass thickness she blew me away...
            a.blog-note__link(href="#") READ MORE