footer.footer
    form.footer-form(method="POST" action="#")
        .footer-left
            h3.footer-form__title Subscribe to our newsletter to receive latest news and offers
            input.footer-form__input(type="email" name="email" placeholder="Email")
        input.footer-form__submit(type="submit" name="subscribe" value="subscribe")