section.product
    h2.title Latest Products
    .product-top
        .product-top__element
            span Man
        .product-top__element
            span Woman
        .product-top__element
            span Watches
    .product-bottom
        .product-bottom__element
            span.
                40% Off <br>
                New Autumn<br>
                Collection
        .product-bottom__element
            span.
                Mega sale<br>
                on items from<br>
                spirit collection
