section.trend
    h2.title Trends Items
    .trend-wrapper
        img(src="img/trend-item.jpg" alt="NATHAN STEWART JACKET" width="570" height="570")
        .trend-item
            h3.trend-item__title Nathan stewart jacket
            span.trend-item__undertitle Summer/Autumn Collection
            p.trend-item__text.
                Classic Nathan Stewart Jacket from his latest collection.<br>
                This item is loved by many just because of it’s simle style.<br>
                Simple lines, lovely texture,it suits almost everybody.<br>
                It comes in six different colors,and all sizes.
            p.trend-item__text.
                FASHION TIP:<br>
                With this jacket,Nathan Stewart sunglasses go hand in hand!
            .trend-buttons
                .trend-buttons__top
                    span M
                    span L
                    span XL
                    span XXL
                .trend-buttons__bottom
                    span SHOW NOW
                    span SIZE GUIDE